<header class="my-3">
    <nav class="flex justify-between items-center py-6 px-80 bg-gray-00 text-white">
        <a href="/" class="text-2xl">Oupman Miralles</a>
        
        <ul class="flex space-x-16 text-lg">
            <li><a href="/" class="hover:text-blue-400">Home</a></li>
            <li><a href="/about" class="hover:text-blue-400">About</a></li>
            <li><a href="/projects" class="hover:text-blue-400">Projects</a></li>
            <li><a href="/contact" class="hover:text-blue-400">Contact</a></li>
        </ul>

        <button id="theme-toggle" class="p-2 rounded text-black dark:text-white">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g fill="currentColor">
                    <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z"></path>
                </g>
            </svg>
        </button>
    </nav>
</header>
<script>
    const themeToggle = document.getElementById('theme-toggle');

    themeToggle?.addEventListener('click', () => {
        document.documentElement.classList.toggle('dark');
        console.log('Theme toggled');
    });
</script>
